@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
:root
{
 --black: #2f2f2f;
 --white: #fff;
 --blue: #3d30f8;
 --green: #39f121;
 --greeen: #41b132;
}
.main
{
  position: relative; 
  min-height: 100vh;
  background: linear-gradient(#182386f8,#293391,#88a5b8) ;
  padding: 30px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main::before
{
    
    content: 'Absoluto';
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 16vw;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.062);
}
header
{
position:absolute;
top: 0;
left: 0;
width: 100%;
padding: 30px 80px;
display: flex;
justify-content: space-between;
align-items: center;
}
.logo 
{
  max: width 100px;  
}
.navigation
{
    display: flex;
}
.navigation li 
{
    list-style: none;
}
.navigation li a
{
    position: relative;
    color: var(--white);
    margin-left: 40px;
    text-decoration: none;
    transition: 0.25s;
}
.navigation li a :hover
{
    color: var(--green);
}
.content
{
    height: auto;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    z-index: 1;
}
.content h2
{
    font-size: 5em;
    font-weight: 300;
    color: var(--white);
    text-align: center;
}
.content h2 span
{
    font-weight: 700;
}
#logo a
{
 color: rgb(122, 124, 122);
}
#logo span
{
    color: #39f121;
}
.btn
{
    display: inline-block;
    background: var(--green);
    color: var(--white);
    text-decoration: none;
    padding: 16px 36px;
    margin-top: 20px;
    border-radius: 50px;
    font-size: 1.25em;
    transition: 0.25s;
}
.btn:hover
{
    letter-spacing: 4px;
}
.caminhao
{
    max-width: 80%;
}
.footer
{
   position:absolute;
   bottom: 0;
   width: 100%;
   padding: 30px 100px;
   display: flex;
   justify-content: space-between;
   align-items: center; 
}
.sci
{
    display: flex;
}
.sci li 
{
    list-style: none;
}
.sci li a
{
    color: var(--white);
    font-size: 2em;
    margin-right: 20px;
    transition:  0.25s;
}
.sci li a:hover
{
    color: var(--green)
}
.dots
{
    display: flex;
}
.dots .dot
{
    width: 20px;
    height: 20px;
    background: rgba(19, 18, 18, 0.2);
    border-radius: 50%;
    cursor: pointer;
    margin-left: 10px;
}
.dot.active
{
   background: var(--white);
}
.slider .slides
{
    position: absolute;
    top: 60%;
    left: 0;
    transform: translateY(-50%);
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    transition: 0 0.25s ;
    opacity: 0;
    pointer-events: none;
}
.slider .slides.active
{
    opacity: 1;  
    top: 50%; 
}
.slider .slides h2
{
    color: var(--white);
    font-size: 3em;
}
.slider .slides h2:last-child 
{
    text-align: end;
}
.slider .slides h2 span
{
   color: var(--greeen);
   font-size: 0.5em;
   font-weight: 400;
   font-style: italic;
}
.rec{
    width: auto;
    padding: 40px;
  }
/***********************************************************/



table {
    width: 100%
  }
  table * {
    text-align:left
  }
  tr, td {
    color: white;
    padding: 5px
  }
  
  tr:nth-child(even) {
    background: #ddd
  }
  .container{
      background-color: rgba(136, 236, 189, 0.219);
      padding: 10px;
      border-radius: 20px 20px;
  }
  .row{
    color: white;
  }